body {
    background-color: orangered;
    margin:0;
    padding:0;
}

header {
    background-color: greenyellow;
    margin:0;
}
main {
    display:flex;
}

.pizzaOptionLabel{
    color:white;
}

#pizzaPie {
    margin-left:20em;
    max-height: 20em;
}

h1 {
    padding-left: 1em;
}


.aPizza {
    display:flex;
    flex-direction: column;
    padding-left: 2em;
}

h3 {
    color:white;
}


p {
    background-color: white;
    padding:0em .0em 0em .25em;
    color:black;
}

.pizzaNameDisplay {
    max-width: 9em;
}

.pizzaPriceDisplay {
    max-width: 3em;
}

.pizzaCrustDisplay {
    max-width: 5em;
}

.pizzaToppingNumDisplay {
    max-width: 3em;
}

.pizzaToppingList {
    max-width:16em;
    background-color: white;
    padding-right: 1em;
}

